form {
    display: inline-block;
}
.form-group {
    text-align: center;
    padding-bottom: 25px;
}

#todo {
    margin: 0 auto;
}

a.close {
  float: right;
}

button{
	display:inline;
}
